<?xml version="1.0" encoding="UTF-8" standalone="no"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd          http://www.springframework.org/schema/tx           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd          http://www.springframework.org/schema/context          http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--bean post-processor for JPA annotations-->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
    </bean>
    
    <!--Transaction manager for a single JPA EntityManager (alternative to JTA)-->
    <!-- Configuracion B.D. Gestion -->
    <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactoryPostgres">
    	<property name="dataSource" ref="dataSourcePostgres"/>
        <property name="jpaVendorAdapter"> 
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="POSTGRESQL"/>
                <property name="showSql" value="true"/> 
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect"/>                
            </bean>
        </property>
    </bean>
    
    <!-- Configuracion Recursos B.D. -->
    <bean class="org.springframework.jndi.JndiObjectFactoryBean" id="dataSourcePostgres">
		<property name="resourceRef">
	       <value>false</value>
	    </property> 
    	<property name="jndiName">
			<value>java:comp/env/jdbc/SISTEMAS2G</value>		
		</property>
    </bean>
    
    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManagerPostgres">
        <property name="entityManagerFactory" ref="entityManagerFactoryPostgres"/> 
    </bean>
    
    <!--  enable the configuration of transactional behavior based on annotations  -->
    <tx:annotation-driven transaction-manager="transactionManagerPostgres"/>
    
	<!--	DECLARACION DE LOS ACTION-->
    <bean class="com.software2g.portal.action.PortalAction" id="PortalAction" scope="prototype">
    	<constructor-arg ref="gestionFacadePortal"/> 
    </bean> 
    <bean class="com.software2g.contable.action.ContableAction" id="ContableAction" scope="prototype">
    	<constructor-arg ref="gestionFacadeContable"/> 
    </bean> 
    <bean class="com.software2g.agenda.action.AgendaAction" id="AgendaAction" scope="prototype">
    	<constructor-arg ref="gestionFacadeAgenda"/> 
    </bean>
    <bean class="com.software2g.util.action.FileUploadAction" id="FileUploadAction" scope="prototype"/>
    
    
	 <!--  CONFIGURACION TILES -->
 	<bean class="com.software2g.web.tiles2.SpringTilesConfigurer" id="tilesConfigurer"> 
 		<property name="definitions"> 
 			<list> 
 				<value>/WEB-INF/tiles.xml</value>
 				<value>/WEB-INF/tiles-contable.xml</value>
 				<value>/WEB-INF/tiles-adminPortal.xml</value>   
 				<value>/WEB-INF/tiles-calendario.xml</value>
 			</list> 
 		</property> 
 	</bean>
	     
   <context:component-scan base-package="com.software2g"/> 
   
   <!--Exception translation bean post processor-->
   <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor">
   </bean>	
	
   <!-- DECLARACION DE LOS FACADE -->
   <bean class="com.software2g.portal.facade.impl.GestionFacadePortalSpringService" id="gestionFacadePortal">
	   	<property name="aplicacionDao"><bean class="com.software2g.portal.dao.impl.AplicacionDaoImpl"/></property>
	   	<property name="funcionalidadDao"><bean class="com.software2g.portal.dao.impl.FuncionalidadDaoImpl"/></property>
		<property name="funcionalidadRolDao"><bean class="com.software2g.portal.dao.impl.FuncionalidadRolDaoImpl"/></property>
	    <property name="rolDao"><bean class="com.software2g.portal.dao.impl.RolDaoImpl"/></property>
	  	<property name="rolUsuarioDao"><bean class="com.software2g.portal.dao.impl.RolUsuarioDaoImpl"/></property>
	    <property name="usuarioDao"><bean class="com.software2g.portal.dao.impl.UsuarioDaoImpl"/></property>
	    <property name="personaDao"><bean class="com.software2g.portal.dao.impl.PersonaDaoImpl"/></property>
		<property name="tipoDocumentoDao"><bean class="com.software2g.portal.dao.impl.TipoDocumentoDaoImpl"/></property>
		<property name="personaInstitucionDao"><bean class="com.software2g.portal.dao.impl.PersonaInstitucionDaoImpl"/></property>
		<property name="institucionDao"><bean class="com.software2g.portal.dao.impl.InstitucionDaoImpl"/></property>
		<property name="paisDao"><bean class="com.software2g.portal.dao.impl.PaisDaoImpl"/></property>
		<property name="departamentoDao"><bean class="com.software2g.portal.dao.impl.DepartamentoDaoImpl"/></property>
		<property name="municipioDao"><bean class="com.software2g.portal.dao.impl.MunicipioDaoImpl"/></property>
   </bean>	
   
   <bean class="com.software2g.contable.facade.impl.GestionFacadeContableSpringService" id="gestionFacadeContable">
        <property name="abonoDao"><bean class="com.software2g.contable.dao.impl.AbonoDaoImpl"/></property> 
        <property name="creditoDao"><bean class="com.software2g.contable.dao.impl.CreditoDaoImpl"/></property>
        <property name="creditoTipoDesDao"><bean class="com.software2g.contable.dao.impl.CreditoTipoDescuentoDaoImpl"/></property>
        <property name="donacionDao"><bean class="com.software2g.contable.dao.impl.DonacionDaoImpl"/></property>
        <property name="donacionObjDao"><bean class="com.software2g.contable.dao.impl.DonacionObjetoDaoImpl"/></property>
        <property name="donacionSucursalDao"><bean class="com.software2g.contable.dao.impl.DonacionSucursalDaoImpl"/></property>
        <property name="entidadDonanteDao"><bean class="com.software2g.contable.dao.impl.EntidadDonanteDaoImpl"/></property>
        <property name="objetoDao"><bean class="com.software2g.contable.dao.impl.ObjetoDaoImpl"/></property>
        <property name="pagareDao"><bean class="com.software2g.contable.dao.impl.PagareDaoImpl"/></property>
        <property name="presupuestoDao"><bean class="com.software2g.contable.dao.impl.PresupuestoDaoImpl"/></property>
        <property name="presupuestoDonacionDao"><bean class="com.software2g.contable.dao.impl.PresupuestoDonacionDaoImpl"/></property>
        <property name="presupuestoSucursalDao"><bean class="com.software2g.contable.dao.impl.PresupuestoSucursalDaoImpl"/></property>
        <property name="seguroDao"><bean class="com.software2g.contable.dao.impl.SeguroDaoImpl"/></property>
        <property name="sucursalDao"><bean class="com.software2g.contable.dao.impl.SucursalDaoImpl"/></property>
        <property name="tipoCreditoDao"><bean class="com.software2g.contable.dao.impl.TipoCreditoDaoImpl"/></property>
        <property name="tipoCreSegAdquiridoDao"><bean class="com.software2g.contable.dao.impl.TipoCreditoSeguroAdquiridoDaoImpl"/></property>
        <property name="tipoDescuentoDao"><bean class="com.software2g.contable.dao.impl.TipoDescuentoDaoImpl"/></property>
        <property name="tipoPagareDao"><bean class="com.software2g.contable.dao.impl.TipoPagareDaoImpl"/></property>
        <property name="personaDao"><bean class="com.software2g.portal.dao.impl.PersonaDaoImpl"/></property>
        <property name="tipoDocumentoDao"><bean class="com.software2g.portal.dao.impl.TipoDocumentoDaoImpl"/></property>
        <property name="paisDao"><bean class="com.software2g.portal.dao.impl.PaisDaoImpl"/></property>
		<property name="departamentoDao"><bean class="com.software2g.portal.dao.impl.DepartamentoDaoImpl"/></property>
		<property name="municipioDao"><bean class="com.software2g.portal.dao.impl.MunicipioDaoImpl"/></property>
    </bean>
    
	<bean class="com.software2g.agenda.facade.impl.GestionFacadeAgenda" id="gestionFacadeAgenda">
	    <property name="agendaDao"><bean class="com.software2g.agenda.dao.impl.AgendaDAOImpl"/></property>
        <property name="eventoDao"><bean class="com.software2g.agenda.dao.impl.EventoDAOImpl"/></property>
        <property name="jornadaLaboralDao"><bean class="com.software2g.agenda.dao.impl.JornadaLaboralDAOImpl"/></property>
        <property name="parametroCalendarioDao"><bean class="com.software2g.agenda.dao.impl.ParametroCalendarioDAOImpl"/></property>
        <property name="profesionalDao"><bean class="com.software2g.agenda.dao.impl.ProfesionalDAOImpl"/></property>
        <property name="tiempoNoDisponibleDao"><bean class="com.software2g.agenda.dao.impl.TiempoNoDisponibleJDAOImpl"/></property>
        <property name="personaDao"><bean class="com.software2g.portal.dao.impl.PersonaDaoImpl"/></property>
	</bean>    
	

    <bean class="com.software2g.historia_clinica.facade.impl.AcudienteSpringService" id="AcudienteService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.AcudienteDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.AnamnesisSpringService" id="AnamnesisService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.AnamnesisDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.AntecedentesFliaSpringService" id="AntecedentesFliaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.AntecedentesFliaDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ClaseDiagnosticoSpringService" id="ClaseDiagnosticoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ClaseDiagnosticoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.CodigoEnfermedadesSpringService" id="CodigoEnfermedadesService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.CodigoEnfermedadesDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ConsultaSpringService" id="ConsultaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ConsultaDAO"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ConvenioSpringService" id="ConvenioService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ConvenioDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.DependenciaSpringService" id="DependenciaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.DependenciaDAO"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.DiagnosticoSpringService" id="DiagnosticoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.DiagnosticoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.DireccionSpringService" id="DireccionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.DireccionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.EnfermedadSpringService" id="EnfermedadService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.EnfermedadDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.EnfermedadSufridaSpringService" id="EnfermedadSufridaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.EnfermedadSufridaDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.EspecificaExamenSpringService" id="EspecificaExamenService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.EspecificaExamenDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.EspecificacionFormulaSpringService" id="EspecificacionFormulaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.EspecificacionFormulaDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.EspecificacionParteCuerpoSpringService" id="EspecificacionParteCuerpoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.EspecificacionParteCuerpoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.EstadoCivilSpringService" id="EstadoCivilService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.EstadoCivilDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.EstadoMedicamentoSpringService" id="EstadoMedicamentoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.EstadoMedicamentoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ExamenSpringService" id="ExamenService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ExamenDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ExamenParteCuerpoSpringService" id="ExamenParteCuerpoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ExamenParteCuerpoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.FinalidadSpringService" id="FinalidadService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.FinalidadDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.FormulacionSpringService" id="FormulacionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.FormulacionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.FrecuenciaSpringService" id="FrecuenciaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.FrecuenciaDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ListaExamenConsultaSpringService" id="ListaExamenConsultaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ListaExamenConsultaDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.MotivoSpringService" id="MotivoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.MotivoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.PacienteSpringService" id="PacienteService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.PacienteDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ParentescoSpringService" id="ParentescoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ParentescoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.PartesCuerpoSpringService" id="PartesCuerpoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.PartesCuerpoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.PersonaPerteneceSpringService" id="PersonaPerteneceService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.PersonaPerteneceDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.PosicionSpringService" id="PosicionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.PosicionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.RegistroExamenSpringService" id="RegistroExamenService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.RegistroExamenDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.RegistroFormulacionSpringService" id="RegistroFormulacionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.RegistroFormulacionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.RemisionSpringService" id="RemisionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.RemisionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.SeguridadSocialSpringService" id="SeguridadSocialService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.SeguridadSocialDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.ServicioSpringService" id="ServicioService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.ServicioDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.SintomaComunSpringService" id="SintomaComunService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.SintomaComunDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.SintomaSpringService" id="SintomaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.SintomaDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TelefonoSpringService" id="TelefonoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TelefonoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TipoDatoSpringService" id="TipoDatoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TipoDatoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TipoDiagnosticoSpringService" id="TipoDiagnosticoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TipoDiagnosticoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TipoDocumentoInstitucionSpringService" id="TipoDocumentoInstitucionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TipoDocumentoInstitucionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TipoEspecialidadSpringService" id="TipoEspecialidadService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TipoEspecialidadDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TipoServicioSpringService" id="TipoServicioService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TipoServicioDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TipoUbicacionSpringService" id="TipoUbicacionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TipoUbicacionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TipoVirtualLinkSpringService" id="TipoVirtualLinkService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TipoVirtualLinkDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.TomaDrogaSpringService" id="TomaDrogaService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.TomaDrogaDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.UbicacionDireccionSpringService" id="UbicacionDireccionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.UbicacionDireccionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.UbicacionTelefonoSpringService" id="UbicacionTelefonoService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.UbicacionTelefonoDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.UbicacionVirtualSpringService" id="UbicacionVirtualService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.UbicacionVirtualDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.UnidadesSpringService" id="UnidadesService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.UnidadesDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.VariableExamenSpringService" id="VariableExamenService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.VariableExamenDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.VariableFormulacionSpringService" id="VariableFormulacionService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.VariableFormulacionDAOImpl"/>
        </property>
    </bean>

    <bean class="com.software2g.historia_clinica.facade.impl.VirtualLinkSpringService" id="VirtualLinkService">
        <property name="dao">
            <bean class="com.software2g.historia_clinica.dao.impl.VirtualLinkDAOImpl"/>
        </property>
    </bean>
</beans>