<?xml version="1.0" encoding="UTF-8" standalone="no"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd          http://www.springframework.org/schema/tx           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd          http://www.springframework.org/schema/context          http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--bean post-processor for JPA annotations-->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
    </bean>
    
    <!--Transaction manager for a single JPA EntityManager (alternative to JTA)-->
    <!-- Configuracion B.D. Gestion -->
    <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactoryPostgres">
    	<property name="dataSource" ref="dataSourcePostgres"/>
        <property name="jpaVendorAdapter"> 
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="POSTGRESQL"/>
                <property name="showSql" value="true"/> 
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect"/>                
            </bean>
        </property>
    </bean>
    
    <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactoryPostgresOptica">
    	<property name="dataSource" ref="dataSourcePostgresOptica"/>
        <property name="jpaVendorAdapter"> 
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="POSTGRESQL"/>
                <property name="showSql" value="true"/> 
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect"/>                
            </bean>
        </property>
    </bean>
    
    <!-- Configuracion Recursos B.D. -->
    <bean class="org.springframework.jndi.JndiObjectFactoryBean" id="dataSourcePostgres">
		<property name="resourceRef">
	       <value>false</value>
	    </property> 
    	<property name="jndiName">
			<value>java:comp/env/jdbc/SISTEMAS2G</value>		
		</property>
    </bean>
    
    <bean class="org.springframework.jndi.JndiObjectFactoryBean" id="dataSourcePostgresOptica">
		<property name="resourceRef">
	       <value>false</value>
	    </property> 
    	<property name="jndiName">
			<value>java:comp/env/jdbc/optica</value>		
		</property>
    </bean>
    
    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManagerPostgres">
        <property name="entityManagerFactory" ref="entityManagerFactoryPostgres"/> 
    </bean>
    
    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManagerPostgresOptica">
        <property name="entityManagerFactory" ref="entityManagerFactoryPostgresOptica"/> 
    </bean>
    
    <!--  enable the configuration of transactional behavior based on annotations  -->
    <tx:annotation-driven transaction-manager="transactionManagerPostgres"/>
    <tx:annotation-driven transaction-manager="transactionManagerPostgresOptica"/>
    
	<!--	DECLARACION DE LOS ACTION-->
    <bean class="com.software2g.portal.action.PortalAction" id="PortalAction" scope="prototype">
    	<constructor-arg ref="gestionFacadePortal"/>
    	<constructor-arg ref="gestionFacadeAgenda"/>  
    </bean> 
    <bean class="com.software2g.contable.action.ContableAction" id="ContableAction" scope="prototype">
    	<constructor-arg ref="gestionFacadeContable"/> 
    </bean> 
    <bean class="com.software2g.agenda.action.AgendaAction" id="AgendaAction" scope="prototype">
    	<constructor-arg ref="gestionFacadeAgenda"/> 
    	<constructor-arg ref="gestionFacadeHistoriaClinica"/>
    	<constructor-arg ref="gestionFacadeNIIF"/>
    </bean>
    <bean class="com.software2g.historia_clinica.action.HistoriaClinicaAction" id="HistoriaClinicaAction" scope="prototype">
    	<constructor-arg ref="gestionFacadeHistoriaClinica"/>
    </bean>
    <bean class="com.software2g.util.action.FileUploadAction" id="FileUploadAction" scope="prototype"/>
    
    <bean class="com.software2g.niif.action.niifAction" id="niifAction" scope="prototype">
    	<constructor-arg ref="gestionFacadeNIIF"/>
    </bean>
	 <!--  CONFIGURACION TILES -->
 	<bean class="com.software2g.web.tiles2.SpringTilesConfigurer" id="tilesConfigurer"> 
 		<property name="definitions"> 
 			<list> 
 				<value>/WEB-INF/tiles.xml</value>
 				<value>/WEB-INF/tiles-contable.xml</value>
 				<value>/WEB-INF/tiles-adminPortal.xml</value>   
 				<value>/WEB-INF/tiles-calendario.xml</value>
 				<value>/WEB-INF/tiles-historiaclinica.xml</value>
 				<value>/WEB-INF/tiles-niif.xml</value>
 			</list> 
 		</property> 
 	</bean>
	     
   <context:component-scan base-package="com.software2g"/> 
   
   <!--Exception translation bean post processor-->
   <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor">
   </bean>	
	
   <!-- DECLARACION DE LOS FACADE -->
   <bean class="com.software2g.portal.facade.impl.GestionFacadePortalSpringService" id="gestionFacadePortal">
	   	<property name="aplicacionDao"><bean class="com.software2g.portal.dao.impl.AplicacionDaoImpl"/></property>
	   	<property name="funcionalidadDao"><bean class="com.software2g.portal.dao.impl.FuncionalidadDaoImpl"/></property>
		<property name="funcionalidadRolDao"><bean class="com.software2g.portal.dao.impl.FuncionalidadRolDaoImpl"/></property>
	    <property name="rolDao"><bean class="com.software2g.portal.dao.impl.RolDaoImpl"/></property>
	  	<property name="rolUsuarioDao"><bean class="com.software2g.portal.dao.impl.RolUsuarioDaoImpl"/></property>
	    <property name="usuarioDao"><bean class="com.software2g.portal.dao.impl.UsuarioDaoImpl"/></property>
	    <property name="personaDao"><bean class="com.software2g.portal.dao.impl.PersonaDaoImpl"/></property>
		<property name="tipoDocumentoDao"><bean class="com.software2g.portal.dao.impl.TipoDocumentoDaoImpl"/></property>
		<property name="personaInstitucionDao"><bean class="com.software2g.portal.dao.impl.PersonaInstitucionDaoImpl"/></property>
		<property name="institucionDao"><bean class="com.software2g.portal.dao.impl.InstitucionDaoImpl"/></property>
		<property name="paisDao"><bean class="com.software2g.portal.dao.impl.PaisDaoImpl"/></property>
		<property name="departamentoDao"><bean class="com.software2g.portal.dao.impl.DepartamentoDaoImpl"/></property>
		<property name="municipioDao"><bean class="com.software2g.portal.dao.impl.MunicipioDaoImpl"/></property>
   </bean>	
   
   <bean class="com.software2g.contable.facade.impl.GestionFacadeContableSpringService" id="gestionFacadeContable">
        <property name="abonoDao"><bean class="com.software2g.contable.dao.impl.AbonoDaoImpl"/></property> 
        <property name="creditoDao"><bean class="com.software2g.contable.dao.impl.CreditoDaoImpl"/></property>
        <property name="creditoTipoDesDao"><bean class="com.software2g.contable.dao.impl.CreditoTipoDescuentoDaoImpl"/></property>
        <property name="donacionDao"><bean class="com.software2g.contable.dao.impl.DonacionDaoImpl"/></property>
        <property name="donacionObjDao"><bean class="com.software2g.contable.dao.impl.DonacionObjetoDaoImpl"/></property>
        <property name="donacionSucursalDao"><bean class="com.software2g.contable.dao.impl.DonacionSucursalDaoImpl"/></property>
        <property name="entidadDonanteDao"><bean class="com.software2g.contable.dao.impl.EntidadDonanteDaoImpl"/></property>
        <property name="objetoDao"><bean class="com.software2g.contable.dao.impl.ObjetoDaoImpl"/></property>
        <property name="pagareDao"><bean class="com.software2g.contable.dao.impl.PagareDaoImpl"/></property>
        <property name="presupuestoDao"><bean class="com.software2g.contable.dao.impl.PresupuestoDaoImpl"/></property>
        <property name="presupuestoDonacionDao"><bean class="com.software2g.contable.dao.impl.PresupuestoDonacionDaoImpl"/></property>
        <property name="presupuestoSucursalDao"><bean class="com.software2g.contable.dao.impl.PresupuestoSucursalDaoImpl"/></property>
        <property name="seguroDao"><bean class="com.software2g.contable.dao.impl.SeguroDaoImpl"/></property>
        <property name="sucursalDao"><bean class="com.software2g.contable.dao.impl.SucursalDaoImpl"/></property>
        <property name="tipoCreditoDao"><bean class="com.software2g.contable.dao.impl.TipoCreditoDaoImpl"/></property>
        <property name="tipoCreSegAdquiridoDao"><bean class="com.software2g.contable.dao.impl.TipoCreditoSeguroAdquiridoDaoImpl"/></property>
        <property name="tipoDescuentoDao"><bean class="com.software2g.contable.dao.impl.TipoDescuentoDaoImpl"/></property>
        <property name="tipoPagareDao"><bean class="com.software2g.contable.dao.impl.TipoPagareDaoImpl"/></property>
        <property name="personaDao"><bean class="com.software2g.portal.dao.impl.PersonaDaoImpl"/></property>
        <property name="tipoDocumentoDao"><bean class="com.software2g.portal.dao.impl.TipoDocumentoDaoImpl"/></property>
        <property name="paisDao"><bean class="com.software2g.portal.dao.impl.PaisDaoImpl"/></property>
		<property name="departamentoDao"><bean class="com.software2g.portal.dao.impl.DepartamentoDaoImpl"/></property>
		<property name="municipioDao"><bean class="com.software2g.portal.dao.impl.MunicipioDaoImpl"/></property>
    </bean>
    
	<bean class="com.software2g.agenda.facade.impl.GestionFacadeAgenda" id="gestionFacadeAgenda">
	    <property name="agendaDao"><bean class="com.software2g.agenda.dao.impl.AgendaDAOImpl"/></property>
        <property name="eventoDao"><bean class="com.software2g.agenda.dao.impl.EventoDAOImpl"/></property>
        <property name="jornadaLaboralDao"><bean class="com.software2g.agenda.dao.impl.JornadaLaboralDAOImpl"/></property>
        <property name="parametroCalendarioDao"><bean class="com.software2g.agenda.dao.impl.ParametroCalendarioDAOImpl"/></property>
        <property name="profesionalDao"><bean class="com.software2g.agenda.dao.impl.ProfesionalDAOImpl"/></property>
        <property name="tiempoNoDisponibleDao"><bean class="com.software2g.agenda.dao.impl.TiempoNoDisponibleJDAOImpl"/></property>
        <property name="personaDao"><bean class="com.software2g.portal.dao.impl.PersonaDaoImpl"/></property>
        <property name="participanteDao"><bean class="com.software2g.agenda.dao.impl.ParticipanteDAOImpl"/></property>
        <property name="procedimientoDao"><bean class="com.software2g.agenda.dao.impl.ProcedimientoDAOImpl"/></property>
        <property name="tipoProcedimientoDao"><bean class="com.software2g.agenda.dao.impl.TipoProcedimientoJPADao"/></property>
        <property name="tipoDocumentoDao"><bean class="com.software2g.portal.dao.impl.TipoDocumentoDaoImpl"/></property>
        <property name="paisDao"><bean class="com.software2g.portal.dao.impl.PaisDaoImpl"/></property>
		<property name="departamentoDao"><bean class="com.software2g.portal.dao.impl.DepartamentoDaoImpl"/></property>
		<property name="municipioDao"><bean class="com.software2g.portal.dao.impl.MunicipioDaoImpl"/></property>
	</bean>    
	
	<bean class="com.software2g.historia_clinica.facade.impl.GestionFacadeHistoriaClinica" id="gestionFacadeHistoriaClinica">
	    <property name="acudienteDao"><bean class="com.software2g.historia_clinica.dao.impl.AcudienteDAOImpl"/></property>
        <property name="archivoServicioDao"><bean class="com.software2g.historia_clinica.dao.impl.ArchivoServicioDAOImpl"/></property>
        <property name="claseDiagnosticoDao"><bean class="com.software2g.historia_clinica.dao.impl.ClaseDiagnosticoDAOImpl"/></property>
        <property name="codigoEnfermedadDao"><bean class="com.software2g.historia_clinica.dao.impl.CodigoEnfermedadDAOImpl"/></property>
        <property name="diagnosticoDao"><bean class="com.software2g.historia_clinica.dao.impl.DiagnosticoDAOImpl"/></property>
        <property name="especificacionParteCuerpoDao"><bean class="com.software2g.historia_clinica.dao.impl.EspecificacionParteCuerpoDAOImpl"/></property>
        <property name="examenOptometriaDao"><bean class="com.software2g.historia_clinica.dao.impl.ExamenOptometriaDAOImpl"/></property>
        <property name="finalidadDao"><bean class="com.software2g.historia_clinica.dao.impl.FinalidadDAOImpl"/></property>
        <property name="formulacionDao"><bean class="com.software2g.historia_clinica.dao.impl.FormulacionDAOImpl"/></property>
        <property name="gafaDao"><bean class="com.software2g.historia_clinica.dao.impl.GafaDAOImpl"/></property>
        <property name="medicamentoDao"><bean class="com.software2g.historia_clinica.dao.impl.MedicamentoDAOImpl"/></property>
        <property name="motivoDao"><bean class="com.software2g.historia_clinica.dao.impl.MotivoDAOImpl"/></property>
        <property name="odontogramaDao"><bean class="com.software2g.historia_clinica.dao.impl.OdontogramaDAOImpl"/></property>
        <property name="opcionRespuestaDao"><bean class="com.software2g.historia_clinica.dao.impl.OpcionRespuestaDAOImpl"/></property>
        <property name="pacienteDao"><bean class="com.software2g.historia_clinica.dao.impl.PacienteDAOImpl"/></property>
        <property name="parentescoDao"><bean class="com.software2g.historia_clinica.dao.impl.ParentescoDAOImpl"/></property>
        <property name="parteCuerpoDao"><bean class="com.software2g.historia_clinica.dao.impl.ParteCuerpoDAOImpl"/></property>
        <property name="posicionDao"><bean class="com.software2g.historia_clinica.dao.impl.PosicionDAOImpl"/></property>
        <property name="preguntaDao"><bean class="com.software2g.historia_clinica.dao.impl.PreguntaDAOImpl"/></property>
        <property name="registroAVSCDao"><bean class="com.software2g.historia_clinica.dao.impl.RegistroAVSCDAOImpl"/></property>
        <property name="registroCoverTestDao"><bean class="com.software2g.historia_clinica.dao.impl.RegistroCoverTestDAOImpl"/></property>
        <property name="registroExamenSimpleDao"><bean class="com.software2g.historia_clinica.dao.impl.RegistroExamenSimpleDAOImpl"/></property>
        <property name="registroOdontogramaDao"><bean class="com.software2g.historia_clinica.dao.impl.RegistroOdontogramaDAOImpl"/></property>
        <property name="registroRxUsoDao"><bean class="com.software2g.historia_clinica.dao.impl.RegistroRxUsoDAOImpl"/></property>
        <property name="respuestaDao"><bean class="com.software2g.historia_clinica.dao.impl.RespuestaDAOImpl"/></property>
        <property name="seccionOdonDao"><bean class="com.software2g.historia_clinica.dao.impl.SeccionOdonDAOImpl"/></property>
        <property name="segmentoAnamnesisDao"><bean class="com.software2g.historia_clinica.dao.impl.SegmentoAnamnesisDAOImpl"/></property>
        <property name="seguridadSocialDao"><bean class="com.software2g.historia_clinica.dao.impl.SeguridadSocialDAOImpl"/></property>
        <property name="servicioDao"><bean class="com.software2g.historia_clinica.dao.impl.ServicioDAOImpl"/></property>
        <property name="tipoDiagnosticoDao"><bean class="com.software2g.historia_clinica.dao.impl.TipoDiagnosticoDAOImpl"/></property>
        <property name="tipoEspecialidadDao"><bean class="com.software2g.historia_clinica.dao.impl.TipoEspecialidadDAOImpl"/></property>
        <property name="tipoExamenOptDao"><bean class="com.software2g.historia_clinica.dao.impl.TipoExamenOptDAOImpl"/></property>
        <property name="tipoFormulacionDao"><bean class="com.software2g.historia_clinica.dao.impl.TipoFormulacionDAOImpl"/></property>
        <property name="tipoPreguntaDao"><bean class="com.software2g.historia_clinica.dao.impl.TipoPreguntaDAOImpl"/></property>
        <property name="tipoSegmentoDao"><bean class="com.software2g.historia_clinica.dao.impl.TipoSegmentoDAOImpl"/></property>
        <property name="tipoServicioDao"><bean class="com.software2g.historia_clinica.dao.impl.TipoServicioDAOImpl"/></property>
        <property name="examenEspecialidadDao"><bean class="com.software2g.historia_clinica.dao.impl.ExamenEspecialidadDAOImpl"/></property>
    </bean>

    <bean class="com.software2g.niif.facade.impl.GestionFacadeNIIF" id="gestionFacadeNIIF">
        <property name="articuloDao"><bean class="com.software2g.niif.dao.impl.ArticuloDAOImpl"/></property>
        <property name="categoriaDao"><bean class="com.software2g.niif.dao.impl.CategoriaDAOImpl"/></property>
        <property name="clienteDao"><bean class="com.software2g.niif.dao.impl.ClienteDAOImpl"/></property>
        <property name="condicionPagoDao"><bean class="com.software2g.niif.dao.impl.CondicionPagoDAOImpl"/></property>
        <property name="detalleCompraDao"><bean class="com.software2g.niif.dao.impl.DetalleCompraDAOImpl"/></property>
        <property name="detalleVentaDao"><bean class="com.software2g.niif.dao.impl.DetalleVentaDAOImpl"/></property>
        <property name="formaPagoDao"><bean class="com.software2g.niif.dao.impl.FormaPagoDAOImpl"/></property>
        <property name="ordenCompraDao"><bean class="com.software2g.niif.dao.impl.OrdenCompraDAOImpl"/></property>
        <property name="pagosDao"><bean class="com.software2g.niif.dao.impl.PagosDAOImpl"/></property>
        <property name="proveedorDao"><bean class="com.software2g.niif.dao.impl.ProveedorDAOImpl"/></property>
        <property name="vendedorDao"><bean class="com.software2g.niif.dao.impl.VendedorDAOImpl"/></property>
        <property name="ventaDao"><bean class="com.software2g.niif.dao.impl.VentaDAOImpl"/></property>
        <property name="portafolioDao"><bean class="com.software2g.niif.dao.impl.PortafolioDaoImpl"/></property>
        <property name="archivoTablaDao"><bean class="com.software2g.niif.dao.impl.ArchivoTablaDaoImpl"/></property>
        <property name="portafolioCategoriaDao"><bean class="com.software2g.niif.dao.impl.PortafolioCategoriaDaoImpl"/></property>
        <property name="tipoDocumentoDao"><bean class="com.software2g.portal.dao.impl.TipoDocumentoDaoImpl"/></property>
        <property name="personaDao"><bean class="com.software2g.portal.dao.impl.PersonaDaoImpl"/></property>
        <property name="consecutivoDao"><bean class="com.software2g.niif.dao.impl.ConsecutivoDaoImpl"/></property>
    </bean>
</beans>