
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_example {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

#dt_example #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
	align: center;
	width: 95%;
}

#dt_example .demo_jui {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	font-size: 1.1em;
	font-weight: normal;	
	padding: 6px;
	background-color: #F5F5F5;
	color: #FF0000;
	border: 1px solid #CCCCCC;
}

#dt_example h1 {/*Titulo del frame principal*/
	font-size: 1.7em;
	font-weight: bold;
	color: #0A0A2A;
	border-bottom: 2px solid #A4A4A4;
	clear: both;
}

#dt_example h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_example a {
	color: #000000;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #FFFFFF;
	font-size: 1.0em;
	font-weight: bold;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#demo_info {
	padding: 5px;
	border: 1px solid #B0BED9;
	height: 100px;
	width: 100%;
	overflow: auto;
}

.border {
	border: 2px solid #CECF9C;/*Borde del frame principal*/
	background-color: #F7F7E7;/*Fondo del frame principal*/
	-moz-border-radius: 10px;/*Borde redondeado pata mozilla*/
    -webkit-border-radius: 10px;/*Borde redondeado*/
    behavior:url(border-radius.htc);
}

.funcPosicion {
	font-size: 0.8em;
	font-weight: normal;	
	padding: 3px;
	background-color: #F5F5F5;
	color: #4E6CA3;
	border: 1px solid #CCCCCC; 
}

.fondoUbicacion{
	background-color: #F7F7E7;/*Fondo del frame principal*/
	-moz-border-radius: 10px;/*Borde redondeado pata mozilla*/
    -webkit-border-radius: 10px;/*Borde redondeado*/
    behavior:url(border-radius.htc);
}
.errors {
	font-size: 0.8em;
	font-weight: normal;	 
	padding: 3px;
	background-color: #FF0000;
	color: #FF0000;
	border: 1px solid #CCCCCC; 
}

.actionProcess {
	font-size: 0.8em;
	font-weight: normal;	 
	padding: 3px;
	background-color: #088A29;
	color: #FF0000;
	border: 1px solid #CCCCCC; 
}

.borderSV {
	border: 1px solid #CCCCCC;/*Borde del frame principal*/
	background-color: #FFFFFF;/*Fondo del frame principal*/
	-moz-border-radius: 10px;/*Borde redondeado pata mozilla*/
    -webkit-border-radius: 10px;/*Borde redondeado*/
    behavior:url(border-radius.htc);
} 

td.leftLabel {
	text-align: left;
	background-color: #DCDCDC;
	font-size: 12px;
	width: 20%;
	border: 3px solid #FFFFFF;
	font-weight: bold;
	color: #0A0A2A;
}

.button {
   border-top: 2px solid #cecf9c;
   background: #f7f7e7;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e7), to(#f7f7e7));
   background: -webkit-linear-gradient(top, #f7f7e7, #f7f7e7);
   background: -moz-linear-gradient(top, #f7f7e7, #f7f7e7);
   background: -ms-linear-gradient(top, #f7f7e7, #f7f7e7);
   background: -o-linear-gradient(top, #f7f7e7, #f7f7e7);
   border-radius: 6px;
   color: #9c6831;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #cecf9c;
   background: #cecf9c;
   color: #9c6831;
   }
.button:active {
   border-top-color: #9e8252;
   background: #b4b57b;
}
.mensaje {
	border: 2px solid #31659C;
	background-color: #F7F7E7;
	color: #31659C;
}   
.buttonRight {
   border-top: 2px solid #cecf9c;
   background: #f7f7e7;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e7), to(#f7f7e7));
   background: -webkit-linear-gradient(top, #f7f7e7, #f7f7e7);
   background: -moz-linear-gradient(top, #f7f7e7, #f7f7e7);
   background: -ms-linear-gradient(top, #f7f7e7, #f7f7e7);
   background: -o-linear-gradient(top, #f7f7e7, #f7f7e7);
   border-radius: 6px;
   color: #9c6831;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
   text-align: right;
   }

.buttonSV {
   border-top: 2px solid #D8D8D8;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   border-radius: 6px;
   color: #0A0A2A;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
   }
.buttonSV:hover, .buttonSV:focus {
   border-top-color: #D8D8D8;
   background: #0A0A2A;	  
   color: #ffffff;
   }
.buttonSV:active {
   border-top-color: #CCCCCC;
   background: #ffffff;
}   

.inputs {/*estilo para combos*/
		background-color: #FFFFFF;
		color: #0A0A2A;
		font-family: Arial, Helvetica, sans-serif;  	
		font-size: 12px;
}

.inputs:focus {/*estilo para combos*/
		background-color: #F5F6CE;
		color: #0A0A2A;
		font-size: 14px;
}

.inputs:active {
   background-color: #FFFFFF;
   color: #0A0A2A;
}

td.text{
	text-align:left;;
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;  	
	font-size: 14px;
	font-weight: bold;
	color: #A4A4A4;
}